* {
  box-sizing: border-box;
}

._app {
  position: relative;
  z-index: 1;
  height: 100%;
  overflow: hidden;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  display: flex;
  height: 100vh;
}

.sidebar {
  border-right: solid #d8d8d8 1px;
}

header {
  color: black;
  margin: 12px;
  text-align: center;
  font-size: 1.5rem;
}

.options {
  border-left: solid #d8d8d8 1px;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  font-size: 1rem;
}

.options a::after {
  display: none;
}

.options a {
  color: #000;
  display: block;
  text-decoration: none;
}

.options:hover {
  cursor: pointer;
  font-weight: 500;
  border-left: solid #333333 1px;
}

.option-active {
  font-weight: 500;
  border-left: solid #333333 1px;
}

h1 {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

h1::after {
  content: '';
  flex-grow: 1;
  height: 1px;
  margin-top: .25rem;
  margin-left: 1rem;
  background: #d8d8d8;
}

h2 {
  line-height: 1.25rem;
  margin: 2em 0 1em;
  padding: .5em .75em;
  font-size: 1rem;
  overflow: hidden;
}

.main-option {
  background: #f9f9f9;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
}

a::after {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: .5rem;
  height: .5rem;
  margin: .125rem 0 0 .125rem;
  background-size: .5rem .5rem;
  pointer-events: none;
  background-image: url('./images/go_to_link.svg');
}

.copy-to-clipboard {
  display: none;
  position: absolute;
  top: 0;
  /* position the top  edge of the element at the middle of the parent */
  right: 0;
  margin-top: 1em;
  margin-right: 1em;
  background-color: #007bff;
  border-color: #007bff;
  font-size: 87.5%;
  color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.2rem;
  /* position the left edge of the element at the middle of the parent */

}

.copy-to-clipboard:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.npm-code,
.building-code,
.compiling-code-1,
.compiling-code-2,
.type-annotations-code-1,
.type-annotations-code-2,
.interfaces-code,
.running-code,
.classes-code {
  position: relative;
}

.npm-code pre:hover+.copy-to-clipboard,
.building-code pre:hover+.copy-to-clipboard,
.compiling-code-1 pre:hover+.copy-to-clipboard,
.compiling-code-2 pre:hover+.copy-to-clipboard,
.type-annotations-code-1 pre:hover+.copy-to-clipboard,
.type-annotations-code-2 pre:hover+.copy-to-clipboard,
.interfaces-code pre:hover+.copy-to-clipboard,
.classes-code pre:hover+.copy-to-clipboard,
.running-code pre:hover+.copy-to-clipboard,
.copy-to-clipboard:hover {
  display: block;
}

.attribution a::after {
  display: none;
}

.attribution p {
  margin-bottom: 0;
}

.attribution {
  margin-top: 1rem;
  padding: 1em;
  background-color: #F4F4F4;
}